version: '3.8'
services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_PASSWORD: location-api
      POSTGRES_USER: location-api
      POSTGRES_DB: location-api
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
